<table id="enchant-selection-table" data-type="mainhand">
    <colgroup id="item-selection-colgroup">
        <col style="width: 20%">
        <col style="width: 9%">
        <col style="width: 10%">
        <col style="width: 9%">
        <col style="width: 9%">
        <col style="width: 9%">
        <col style="width: 6%">
        <col style="width: 6%">
        <col style="width: 6%">
        <col style="width: 6%">
        <col style="width: 10%">
    </colgroup>
    <thead>
        <tr id="item-selection-header">
            <th id="header-enchant-name">Enchant</th>
            <th id="header-enchant-spell-power">Spell Power</th>
            <th id="header-enchant-shadow-power">Shadow Power</th>
            <th id="header-enchant-fire-power">Fire Power</th>
            <th id="header-enchant-hit-rating">Hit Rating</th>
            <th id="header-enchant-crit-rating">Crit Rating</th>
            <th id="header-enchant-stamina">Stamina</th>
            <th id="header-enchant-intellect">Intellect</th>
            <th id="header-enchant-mp5">MP5</th>
            <th id="header-enchant-spell-penetration">Spell Pen</th>
            <th id="header-enchant-dps">DPS</th>
        </tr>
    </thead>
    <tbody aria-live='polite'></tbody>
</table>