@using Shared.Classes.UI
@using BlazorWorker.BackgroundServiceFactory;
@using BlazorWorker.Core;
@using Shared.Classes;
@using System.Text.Json;

@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject BlazorWorker.Core.IWorkerFactory workerFactory;

<SidebarCharacterStats @ref="characterStats" />

<ul id="sidebar-sets">
    <li><h3>Set Bonuses</h3></li>
    <li class="sidebar-set-bonus">Plagueheart Raiment (4)</li>
</ul>

<div id="sidebar-simulation-selection">
    <div id="sim-result-dps-div">
        <p><span id="avg-dps">@avgDps</span><span> DPS</span></p>
        <p>Min: <span id="min-dps">@minDps</span> Max: <span id="max-dps">@maxDps</span></p>
    </div>
    <div class='btn' @onclick="@SimulateDps">Simulate</div>
    <div class='btn' id='sim-all-items'>Simulate All Items</div>
    <div class='btn' id='sim-stat-weights'>Stat Weights</div>
    <div class='btn' id='show-combat-log'>Show Combat Log</div>
    <p id="sim-length-result"></p>
    <p id="guybrush-note">This sim was heavily inspired by <a target="_blank" href='https://guybrushgit.github.io/WarriorSim/'>Guybrush's 1.13 Warrior Simulator</a></p>
    <p id="paypal-note"><a href="https://www.paypal.com/paypalme/kristoferhh" target="_blank">Support me via PayPal</a></p>
</div>

@code {
    private string avgDps = null;
    private string minDps = null;
    private string maxDps = null;

    SidebarCharacterStats characterStats;


    protected override async Task OnInitializedAsync()
    {
        if (await localStorage.ContainKeyAsync("avgDps"))
        {
            avgDps = await localStorage.GetItemAsync<string>("avgDps");
        }
        if (await localStorage.ContainKeyAsync("minDps"))
        {
            minDps = await localStorage.GetItemAsync<string>("minDps");
        }
        if (await localStorage.ContainKeyAsync("maxDps"))
        {
            maxDps = await localStorage.GetItemAsync<string>("maxDps");
        }
    }

    private async void SimulateDps()
    {
        var playerSettings = Player.GetSettings();
        var simSettings = Simulation.GetSettings();
        string playerString = JsonSerializer.Serialize(playerSettings);
        string simString = JsonSerializer.Serialize(simSettings);
        var webWorker = await workerFactory.CreateAsync();
        var service = await webWorker.CreateBackgroundServiceAsync<Simulation>(
            options => options
                .AddConventionalAssemblyOfService()
                .AddAssemblies("System.Security.Cryptography.Algorithms.dll", "System.Text.Json.dll", "System.Text.Encodings.Web.dll")
        );
        await service.RunAsync(s => s.Constructor(simString, playerString));
        await service.RunAsync(s => s.Start());
    }

    public void RefreshCharacterStats()
    {
        characterStats.RefreshStats();
    }
}