@using Shared.Classes.UI

@inject Blazored.LocalStorage.ILocalStorageService localStorage

<SidebarCharacterStats/>

<ul id="sidebar-sets">
    <li><h3>Set Bonuses</h3></li>
    <li class="sidebar-set-bonus">Plagueheart Raiment (4)</li>
</ul>

<div id="sidebar-simulation-selection">
    <div id="sim-result-dps-div">
        <p><span id="avg-dps">@avgDps</span><span> DPS</span></p>
        <p>Min: <span id="min-dps">@minDps</span> Max: <span id="max-dps">@maxDps</span></p>
    </div>
    <div class='btn' id='sim-dps'>Simulate</div>
    <div class='btn' id='sim-all-items'>Simulate All Items</div>
    <div class='btn' id='sim-stat-weights'>Stat Weights</div>
    <div class='btn' id='show-combat-log'>Show Combat Log</div>
    <p id="sim-length-result"></p>
    <p id="guybrush-note">This sim was heavily inspired by <a target="_blank" href='https://guybrushgit.github.io/WarriorSim/'>Guybrush's 1.13 Warrior Simulator</a></p>
    <p id="paypal-note"><a href="https://www.paypal.com/paypalme/kristoferhh" target="_blank">Support me via PayPal</a></p>
</div>

@code {
    private string avgDps = null;
    private string minDps = null;
    private string maxDps = null;


    protected override async Task OnInitializedAsync()
    {
        if (await localStorage.ContainKeyAsync("avgDps"))
        {
            avgDps = await localStorage.GetItemAsync<string>("avgDps");
        }
        if (await localStorage.ContainKeyAsync("minDps"))
        {
            minDps = await localStorage.GetItemAsync<string>("minDps");
        }
        if (await localStorage.ContainKeyAsync("maxDps"))
        {
            maxDps = await localStorage.GetItemAsync<string>("maxDps");
        }
    }
}