@using Shared.Classes.UI

<div id="talents-container">
    <div id="preset-talent-buttons">
        <button class="preset-talent-button" data-name="afflictionUa">Affli/UA</button>
        <button class="preset-talent-button" data-name="afflictionRuin">Affli/Ruin</button>
        <button class="preset-talent-button" data-name="destruction">Destruction</button>
        <button class="preset-talent-button" data-name='destroNightfall'>Destro/Nightfall</button>
        <button class="preset-talent-button" data-name="demonologyFelguard">Demonology/Felguard</button>
        <button class="preset-talent-button" data-name="demonologyRuin">Demonology/Ruin</button>
    </div>
    <section id="talents-section">
        @foreach (var talentTree in TalentTree.trees)
        {
            <div class="talent-tree-div">
                <table id="talent-table-@talentTree.Key" class="talent-tree-table" background="img/talent_tree_background_@(talentTree.Key).jpg">
                    <tbody>
                        @foreach (var talentRow in talentTree.Value)
				        {
                            int column = 0;
                            <tr>
                                @foreach (var talent in talentRow.Value)
					            {
                                    column++;
                                    while (talent.Value.column > column)
						            {
                                        <td></td>
                                        column++;
                                    }
                                    <td>
                                        <div id="@talent.Key" class="talent-icon">
                                            <a href="https://tbc.wowhead.com/spell=@talent.Value.rankIds[0]">
                                                <img src="img/@talent.Value.iconName" />
                                                <span id="@talent.Key-point-amount" class="talent-point-amount">0</span>
                                            </a>
                                        </div>
                                    </td>
					            }
                            </tr>
				        }
                    </tbody>
                </table>
            </div>
		}
    </section>
</div>