ul {
	list-style: none;
}

#sidebar {
	border-right: 1px solid gray;
	position: fixed;
	height: 100%;
	width: clamp(315px, 20%, 380px);
	background-color: #226F54;
	overflow: hidden;
}

#main {
	margin-left: clamp(300px, 20%, 380px);
	background-color: #0B3954;
}

#character-section {
	vertical-align: top;
}

#character-race, #character-level {
	text-align: center;
	line-height: 10px;
}

#character-stats {
	min-height: 380px;
	border-bottom: 1px solid gray;
}

#character-stats li {
	margin-right: 40px;
}

#character-stats li p {
	margin-bottom: -8px;
	padding-bottom: 5px;
	line-height: 15px;
}

.character-stat, .character-stat-val {
	width: 50%;
	display: inline-block;
}

.character-stat {
	float: left;
}

.character-stat-val {
	float: right;
	text-align: right;
}

#shadow-resist-info {
	border: 4px solid black;
	padding: 10px;
	position: absolute;
	background: #363636;
	border-radius: .4em;
	margin-top: 30px;
}

#shadow-resist-info:after {
	content: '';
	position: absolute;
	top: 0;
	left: 70%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-bottom-color: #000000;
	border-top: 0;
	margin-left: -21px;
	margin-top: -21px;
}

#sidebar-sets {
	min-height: 220px;
}

#item-section {
	width: 30%;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
	/*border-bottom: 1px solid gray;
	border-right: 1px solid gray;*/
}

.item-slot-selection {
	width: 49%;
	display: inline-block;
}

.item-slot-selection label {
	width: 30%;
	display: inline-block;
}

.item-slot-selection select {
	width: 68%;
	display: inline-block;
}

#enchants-div {
	width: 100%;
}

#enchants-div label {
	width: 13%;
	display: inline-block;
}

#enchants-div select {
	width: 19%;
}

#buffs-and-debuffs-section {
	display: inline-block;
	margin-left: 20px;
	/*border-bottom: 1px solid gray;*/
	width: max(332px, 22%);
	vertical-align: top;
}

#buffs-and-debuffs-section h3 {
	margin-left: 5px;
	margin-bottom: -15px;
}

#buffs-and-debuffs-section ul {
	margin-left: -34px;
}

#buffs-and-debuffs-section ul li {
	/*width: 32%;*/
	display: inline-block;
}

#buffs-and-debuffs-section img {
	width: 40px;
	height: 40px;
}

.aura {
	user-select: none;
	cursor: pointer;
}

.settings-left, .settings-right {
	display: inline-block;
}

.settings-right {
	float: right;
	width: 30%;
}

.settings-left {
	margin-left: -40px;
}

#rotation-section {
	min-width: 99px;
	display: inline-block;
	vertical-align: top;
	/*border-right: 1px solid gray;*/
	margin-left: 10px;
}

#rotation-section h3 {
	margin-left: 5px;
}

#rotation-section ul div {
	margin-left: -30px;
}

#rotation-list img {
	width: 30px;
	height: 30px;
	display: inline-block;
}

#rotation-list li[data-checked='false'] img, .talent-icon[data-points='0'], .aura[data-checked='false'] {
	filter: grayscale(95%);
}

#rotation-list li {
	display: inline-block;
	cursor: pointer;
	user-select: none;
}

#rotation-list h4 {
	line-height: 1px;
}

#sim-settings {
	display: inline-block;
	padding: 15px;
	line-height: 25px;
	margin: auto;
	width: 300px;
}

#sim-result-dps-div {
	padding: 0 10px 10px 10px;
	margin-top: -40px;
	margin-left: 10px;
}

#sim-result-dps-div p {
	text-align: center;
}

#damage-breakdown-section {
	display: none;
	vertical-align: top;
}

#damage-breakdown-table {
	margin-left: 8px;
	padding: 10px;
	display: inline-block;
	border-spacing: 0;
}

#damage-breakdown-table .number {
	text-align: right;
}

#damage-breakdown-table td/*:nth-child(1)*/ {
	text-align: left;
}

#damage-breakdown-table td, #damage-breakdown-table th {
	padding: 10px;
	border: 1px solid black;
	border-collapse: collapse;
}

#damage-breakdown-table tr {
	line-height: 20px;
}

#combat-log {
	top: 5%;
	height: 90%;
	overflow: auto;
	background-color: black;
	position: absolute;
	display: none;
	padding: 1px 10px 1px 10px;
	line-height: 5px;
}

#avg-dps {
	font-size: 40px;
	font-weight: 700;
}

#talents-container {
	display: inline-block;
	float: right;
}

#preset-talent-buttons {
	text-align: center;
}

#talents-section {
	width: 618px;
	vertical-align: top;
	position: relative;
	margin: 5px 2px 0px 0px;
}

.talent-tree-div {
	display: inline-block;
	width: 206px;
}

.talent-tree-table {
	background-size: 100% 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	vertical-align: top;
}

.talent-tree-name {
	text-align: center;
	line-height: 1px;
}

.talent-icon {
	position: relative;
	display: inline-block;
	margin-left: 5px;
	cursor: pointer;
	user-select: none;
}

.talent-point-amount {
	position: absolute;
	bottom: 0px;
	right: 0px;
	background: #000;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 1px 3px;

}

.talent-icon img {
	width: 40px;
	height: 40px;
}

.clear-talent-tree {
	display: inline-block;
	cursor: pointer;
	user-select: none;
}

/*.talent-arrow {
	position: absolute;
	z-index: 100;
}

.talent-arrow img {
	width: 15px;
}

.talent-arrow[data-row='3'] {
	top: 137px;
}

.talent-arrow[data-row='5'] {
	top: 226px;
}

.talent-arrow[data-row='7'] {
	top: 328px;
}

.talent-arrow[data-column='3'] {
	left: 118.5px;
}

.talent-arrow[data-column='2'] {
	left: 69px;
}*/

.btn {
	border: 1px solid white;
	font-weight: bold;
	cursor: pointer;
	border-radius: 4px;
	width: 40%;
	height: 18px;
	display: inline-block;
	padding: 15px 0px 15px 0px;
	/*transition: all .2s ease-in;*/
	user-select: none;
}

.btn:hover {
	background-color: #fff;
	color: black;
}

#sim-length-result {
	margin-top: 15px;
	font-weight: bold;
}

#sidebar-simulation-selection {
	text-align: center;
	vertical-align: bottom;
}

#gem-selection-table {
	position: absolute;
	left: 50%;
	border: 4px solid black;
	padding: 10px;
	background: #363636;
	border-radius: .4em;
}

.gem-row td {
	padding: 5px 10px 5px 10px;
}

.gem-row td a {
	text-decoration: none;
	color: white;
}


#item-slot-selection-list {
	text-align: center;
	width: 100%;
}

#item-slot-selection-list li {
	display: inline-block;
	cursor: pointer;
}

#item-slot-selection-list li:not(:last-child) {
	margin-right: 20px;
}

#item-slot-selection-list li[data-selected='true'] {
	font-weight: bold;
	text-decoration: underline;
}

#item-selection-container {
	padding: 0px 40px;
	min-height: 1500px;
}

#item-selection-table, #enchant-selection-table {
	width: 100%;
	border-spacing: 0px;
}

#enchant-selection-table {
	margin-top: 60px;
}

#item-selection-table th:nth-child(1), #enchant-selection-table th:nth-child(1) {
	text-align: left;
}

.item-row:hover, .enchant-row:hover, .gem-row:hover {
	cursor: pointer;
	background-color: rgba(104, 105, 163, 0.3);
}

#item-selection-table td, #enchant-selection-table td {
	padding: 5px;
}

.item-row a, .enchant-row a, .sidebar-set-bonus a {
	color: #fff;
	text-decoration: none;
}

table.dataTable tbody tr {
	background-color: #272727 !important;
}

table.dataTable thead th, table.dataTable.no-footer {
	border: none !important;
}

.item-row[data-selected='true'], .enchant-row[data-selected='true'] {
	background-color: #6869a3 !important;
}

.item-row, .enchant-row {
	text-align: center;
}

.item-row td, .enchant-row td {
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.item-row:last-child td, .enchant-row:last-child td {
	border-bottom: none;
}

.item-row td:nth-child(1), .enchant-row td:nth-child(1) {
	text-align: left;
}

body {
	margin: 0px !important;
	padding: 0px !important;
	color: white;
	font-family: Open Sans,sans-serif;
}

@media (max-width: 933px) {
	#sidebar {
		
	}
}

@media screen and (max-width: 1830px) {
	#talents-container {
		display: block;
		float: none;
	}
	#talents-section {
		width: 100%;
		text-align: center;

	}
}

@media screen and (max-width: 1147px) {
	#sim-settings {
		display: block;
	}
}