ul {
	list-style: none;
}

#sidebar {
	border-right: 1px solid gray;
	position: fixed;
	height: 100%;
	width: clamp(315px, 20%, 380px);
	background-color: #226F54;
	overflow: hidden;
}

#main {
	margin-left: clamp(300px, 20%, 380px);
	background-color: #0B3954;
}

#character-section {
	vertical-align: top;
}

#character-race, #character-level {
	text-align: center;
	line-height: 10px;
}

.character-stats {
	padding-bottom: 15px;
	border-bottom: 1px solid gray;
}

.character-stats li {
	margin-right: 40px;
	line-height: 12px;
}

.character-stats li p {
	margin-bottom: -8px;
	padding-bottom: 5px;
}

.character-stat, .character-stat-val {
	width: 50%;
	display: inline-block;
}

.character-stat-val {
	float: right;
	text-align: right;
}

#pet-wip-note {
	padding: 10px;
	margin-top: 0px;
	text-align: center;
	border-bottom: 1px solid gray;
}

#stat-weights {
	width: 300px;
	border-bottom: none;
}

#stat-weights-section {
	border: 1px solid gray;
	width: 340px;
	margin-left: 10px;
}

#stat-weights-section h2 {
	padding-left: 35px;
}

#pawn-import-string {
	white-space: nowrap;
	overflow: hidden;
	padding-bottom: 10px;
}

#pawn-import-string:hover {
	overflow: visible;
}

#shadow-resist-info {
	border: 4px solid black;
	padding: 10px;
	position: absolute;
	background: #363636;
	border-radius: .4em;
	margin-top: 30px;
}

#shadow-resist-info:after {
	content: '';
	position: absolute;
	top: 0;
	left: 70%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-bottom-color: #000000;
	border-top: 0;
	margin-left: -21px;
	margin-top: -21px;
}

#sidebar-sets h3 {
	line-height: 0px;
}

#item-section {
	width: 30%;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
}

.item-slot-selection {
	width: 49%;
	display: inline-block;
}

.item-slot-selection label {
	width: 30%;
	display: inline-block;
}

.item-slot-selection select {
	width: 68%;
	display: inline-block;
}

#enchants-div {
	width: 100%;
}

#enchants-div label {
	width: 13%;
	display: inline-block;
}

#enchants-div select {
	width: 19%;
}

#buffs-and-debuffs-section {
	display: inline-block;
	margin-left: 20px;
	width: 22%;
	vertical-align: top;
}

#buffs-and-debuffs-section h3 {
	margin-left: 5px;
	margin-bottom: -15px;
}

#buffs-and-debuffs-section ul {
	margin-left: -34px;
}

#buffs-and-debuffs-section ul li {
	display: inline-block;
}

#buffs-and-debuffs-section img {
	width: 40px;
	height: 40px;
}

.aura {
	user-select: none;
	cursor: pointer;
}

.settings-left, .settings-right {
	display: inline-block;
}

.settings-right {
	float: right;
	width: 30%;
}

.settings-left {
	margin-left: -40px;
}

#rotation-section {
	min-width: 99px;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}

#rotation-section h3 {
	margin-left: 5px;
}

#rotation-section ul div {
	margin-left: -30px;
}

#rotation-list img {
	width: 30px;
	height: 30px;
	display: inline-block;
}

#rotation-list li[data-checked='false'] img, .talent-icon[data-points='0'], .aura[data-checked='false'] {
	filter: grayscale(95%);
}

#rotation-list li {
	display: inline-block;
	cursor: pointer;
	user-select: none;
}

#rotation-list h4 {
	line-height: 1px;
}

#sim-settings {
	display: inline-block;
	padding: 5px;	
	line-height: 25px;
	font-size: 0.9em;
	margin: auto;
	width: 22.5%;
}

#sim-result-dps-div {
	padding: 0 10px 10px 10px;
	margin-top: -40px;
	margin-left: 10px;
}

#sim-result-dps-div p {
	text-align: center;
}

.breakdown-section {
	display: none;
	vertical-align: top;
}

.breakdown-table {
	padding-left: 8px;
	display: inline-block;
	border-spacing: 0;
	font-size: 0.75em;
}

.breakdown-table .number {
	text-align: right;
}

.breakdown-table td {
	text-align: left;
}

.breakdown-table td, .breakdown-table th {
	padding: 8px;
	border: 1px solid black;
	border-collapse: collapse;
}

.breakdown-table tr {
	line-height: 20px;
}

#currently-equipped-items-container {
	position: absolute;
	left: 50%;
	top: 10%;
	display: none;
	margin: 0 auto;
}

#currently-equipped-items {
	position: relative;
	width: 800px;
	height: 520px;
	background-color: black;
	left: -50%;
	padding: 50px;
}

#currently-equipped-items th {
	text-align: left;
}

#currently-equipped-items table {
	width: 100%;
	margin: 0 auto;
	border-spacing: 0px;
}

#currently-equipped-items tbody tr td {
	border-bottom: 1px solid gray;
	padding: 5px;
}

#currently-equipped-items tbody tr:last-child td {
	border-bottom: none;
}

#currently-equipped-items tbody tr td a {
	text-decoration: none;
	color: #fff;
}

#currently-equipped-items-close-button {
	top: 0;
	right: 0;
	margin: 20px 20px 0px 0px;
}

#combat-log {
	top: 5%;
	height: 90%;
	overflow: auto;
	background-color: black;
	position: absolute;
	display: none;
	min-width: 1300px;
	padding: 1px 10px 1px 10px;
	line-height: 5px;
}

#import-export-window {
	background-color: black;
	padding: 50px;
	width: 70%;
	height: 70%;
	top: 0;
	margin-top: 50px;
	left: 15%;
	position: absolute;
}

#import-export-window textarea {
	width: 100%;
	height: 90%;
	resize: none;
}

.close {
	position: absolute;
	width: 32px;
	height: 32px;
	opacity: 0.3;
	z-index: 500;
}
.close:hover {
	opacity: 1;
}
.close:before, .close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 2px;
	background-color: #ffffff;
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}

#stat-weight-close-button {
	margin-left: 110px;
	margin-top: 15px;
}

#import-export-close-button {
	top: 0;
	right: 0;
	margin-top: 10px;
	margin-right: 10px;
}

#avg-dps {
	font-size: 40px;
	font-weight: 700;
}

#talents-container {
	display: inline-block;
	vertical-align: top;
}

#preset-talent-buttons {
	text-align: center;
}

#talents-section {
	width: 618px;
	vertical-align: top;
	position: relative;
	margin: 5px 2px 0px 0px;
}

.talent-tree-div {
	display: inline-block;
	width: 206px;
}

.talent-tree-table {
	background-size: 100% 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	vertical-align: top;
}

.talent-tree-name {
	text-align: center;
	line-height: 1px;
}

.talent-icon {
	position: relative;
	display: inline-block;
	margin-left: 5px;
	cursor: pointer;
	user-select: none;
}

.talent-point-amount {
	position: absolute;
	bottom: 0px;
	right: 0px;
	background: #000;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 1px 3px;

}

.talent-icon img {
	width: 40px;
	height: 40px;
}

.clear-talent-tree {
	display: inline-block;
	cursor: pointer;
	user-select: none;
}

.btn {
	border: 1px solid white;
	font-weight: bold;
	cursor: pointer;
	border-radius: 4px;
	width: 40%;
	height: 18px;
	display: inline-block;
	padding: 15px 0px 15px 0px;
	user-select: none;
}

.btn:hover {
	background-color: #fff;
	color: black;
}

#sim-length-result {
	margin-top: 15px;
	font-weight: bold;
}

#guybrush-note, #paypal-note {
	font-size: 12px;
}

#paypal-note {
	line-height: 0px;
}

#guybrush-note a, #paypal-note a {
	color: #fff;
}

#sidebar-simulation-selection {
	text-align: center;
	position: absolute;
	bottom: 0;
}

#gem-selection-table {
	position: absolute;
	left: 50%;
	border: 4px solid black;
	padding: 10px;
	background: #363636;
	border-radius: .4em;
}

.gem-row td {
	padding: 5px 10px 5px 10px;
}

.gem-row td a {
	text-decoration: none;
	color: white;
}

/* Socket borders */
img[data-color='yellow'] {
	border: 1px solid yellow;
}
img[data-color='red'] {
	border: 1px solid red;
}
img[data-color='blue'] {
	border: 1px solid #0070dd;
}
img[data-color='meta'] {
	border: 1px solid white;
}

#profile-fieldset {
	min-width: 275px;
}

#profiles-and-sources {
	display: flex;
	align-items: center;
	width: 100%;
}

#profiles-and-sources fieldset ul {
	margin: 0px;
	padding: 0px;
}

#profiles-and-sources ul li {
	display: inline-block;
	border: 1px solid white;
	padding: 5px;
	border-radius: 3px;
}

/*#settings-fieldset {
	min-width: 213px;
}*/

.saved-profile:nth-child(1) {
	margin-left: 0px;
}

.saved-profile {
	margin-left: 5px;
}

#source-filters {
	margin-left: auto;
	min-width: 250px;
}

#profiles-and-sources ul li[data-checked='true'] {
	color: black;
	background-color: white;
}

#profiles-and-sources ul li:hover {
	color: black;
	background-color: white;
	opacity: 50%;
	cursor: pointer;
}

#item-slot-selection-list {
	text-align: center;
	width: 100%;
}

#item-slot-selection-list li {
	display: inline-block;
	cursor: pointer;
}

#item-slot-selection-list li:not(:last-child) {
	margin-right: 20px;
}

#item-slot-selection-list li[data-selected='true'] {
	font-weight: bold;
	text-decoration: underline;
}

#item-selection-container {
	padding: 0px 40px;
	min-height: 1500px;
}

#item-selection-table, #enchant-selection-table {
	width: 100%;
	border-spacing: 0px;
}

#enchant-selection-table {
	margin-top: 60px;
	padding-bottom: 100px;
}

#hide-item-col, #hide-enchant-col {
	display: none;
}

#header-name, #header-enchant-name {
	text-align: left;
}

.item-row:hover, .enchant-row:hover, .gem-name:hover, .gem-options-gem:hover {
	cursor: pointer;
	background-color: rgba(104, 105, 163, 0.3);
}

#header-hide-item {
	display: none;
}

.hide-item-btn {
	display: none;
	user-select: none;
}

.item-row[data-hidden='true'] {
	filter: grayscale(100);
	background-color: rgb(0, 0, 0);
	opacity: 50%;
}

#show-hidden-gems-button {
	padding: 5px 0px 5px 0px;
	border: 1px solid white;
	border-radius: 3px;
	text-align: center;
}

#show-hidden-gems-button:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

.gem-name img {
	margin-right: 10px;
}

.gem-favorite-star:hover, .gem-hide:hover {
	cursor: pointer;
}

.gem-favorite-star[data-favorited='true'] {
	color: yellow;
}

.gem-hide[data-hidden='true'], .hide-item-btn[data-hidden='true'] {
	filter: grayscale(100%);
}

#item-selection-table td, #enchant-selection-table td {
	padding: 5px;
}

.item-row a, .enchant-row a, .sidebar-set-bonus a {
	color: #fff;
	text-decoration: none;
}

table.dataTable tbody tr {
	background-color: #272727 !important;
}

table.dataTable thead th, table.dataTable.no-footer {
	border: none !important;
}

#gem-options-button {
	padding: 3px;
	margin-bottom: 5px;
}

#gem-options-window {
	border: 1px solid gray;
	position: absolute;
	width: clamp(100px,60%,1000px);
	text-align: center;
	background-color: black;
	padding: 20px;
	display: none;
	line-height: 30px;
}

#gem-options-gem-list {
	margin-top: 10px;
}

#gem-options-gem-list img {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-top: 6px;
}

#gem-options-gem-list a {
	display: inline-block;
	text-decoration: none;
	color: white;
	width: 80%;
	text-align: left;
	margin-bottom: 5px;
}

#gem-options-gem-list div {
	display: inline-block;
	min-width: 300px;
}

.gem-options-gem[data-checked='true'] {
	background-color: gray;
}

.item-row[data-selected='true'], .enchant-row[data-selected='true'] {
	background-color: #6869a3 !important;
}

.item-row, .enchant-row {
	text-align: center;
}

.item-row td, .enchant-row td {
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.item-row:last-child td, .enchant-row:last-child td {
	border-bottom: none;
}

.item-row td:nth-child(2), .enchant-row td:first-child {
	text-align: left;
}

body {
	margin: 0px !important;
	padding: 0px !important;
	color: white;
	font-family: Open Sans,sans-serif;
}

@media screen and (max-width: 1830px) {
	#buffs-and-debuffs-section {
		width: 18%;
	}

	#buffs-and-debuffs-section img {
		width: 35px;
		height: 35px;
	}
}

@media screen and (max-width: 1780px) {
	.btn {
		font-size: 0.85em;
	}
}

@media screen and (max-width: 1715px) {
	#buffs-and-debuffs-section {
		padding-top: 1px;
		width: 100%;
		float: none;
	}

	#buffs-and-debuffs-section img {
		width: 40px;
		height: 40px;
	}

	#rotation-section {
		width: 15%;
	}

	#sim-settings {
		font-size: 1em;
		width: 30%;
	}

	#profiles-and-sources {
		margin-top: 60px;
	}
}

@media screen and (max-width: 1530px) {
	#talents-container {
		display: block;
		float: none;
	}
	#talents-section {
		width: 100%;
		text-align: center;
	}

	#buffs-and-debuffs-section {
		display: inline-block;
		width: 30%;
	}

	#sim-settings {
		width: 40%;
	}

	#profiles-and-sources {
		margin-top: 0px;
	}
}

@media screen and (max-width: 1147px) {
	#sim-settings {
		display: block;
		width: clamp(330px, 90%, 90%);
	}

	#buffs-and-debuffs-section {
		width: clamp(100px, 70%, 70%);
	}

	#rotation-section {
		min-width: 150px;
	}
}

@media screen and (max-height: 850px) {
	#sidebar {
		font-size: 0.95em;
	}

	.character-stats li {
		line-height: 10px;
	}
}

@media screen and (max-height: 800px) {
	.character-stats li {
		line-height: 8px;
	}
}

@media screen and (max-height: 775px) {
	.character-stats li {
		line-height: 6px;
	}
}

@media screen and (max-height: 750px) {
	.character-stats li {
		line-height: 0px;
	}
}